{% extends "base.html" %}
{% block title %}My Profile{% endblock %}
{% block content %}
<div class="row align-items-center">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header font-weight-bold">
                My Profile
            </div>

            <div class="card-body">
                <p>Name: {{ user[3] }}</p>
                <p>Surname: {{ user[4] }}</p>
                <p>Gender: {{ user[6] }}</p>
                <p>Age: {{ user[7] }}</p>
                <a href="/edit_profile" class="btn btn-primary btn-block">Edit Profile</a>
                <a href="/change_password" class="btn btn-primary btn-block">Change Password</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
