{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="row align-items-center">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header font-weight-bold">
                Register
            </div>

            <div class="card-body">
                <form action="/register" method="post">
                    <label class="form-label" for="username">Username:</label>
                    <input class="form-control" type="text" id="username" name="username" required><br>
                    <label class="form-label" for="password">Password:</label>
                    <input class="form-control" type="password" id="password" name="password" required><br>
                    <label class="form-label" for="repeat_password">Repeat Password:</label>
                    <input class="form-control" type="password" id="repeat_password" name="repeat_password" required><br>
                    <label class="form-label" for="name">Name:</label>
                    <input class="form-control" type="text" id="name" name="name" required><br>
                    <label class="form-label" for="surname">Surname:</label>
                    <input class="form-control" type="text" id="surname" name="surname" required><br>
                    <input class="btn btn-primary" type="submit" value="Register">
                </form>
            </div>

            {% if error_message %}
                <p class="error">{{ error_message }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
