{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
<div class="row align-items-center">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header font-weight-bold">
                Change Password
            </div>
            <div class="card-body">
                {% if error_message %}
                    <p class="error">{{ error_message }}</p>
                {% endif %}
                <form action="/change_password" method="post">
                    <div class="mb-3">
                        <label for="current_password" class="form-label">Current Password:</label>
                        <input type="password" id="current_password" name="current_password" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="new_password" class="form-label">New Password:</label>
                        <input type="password" id="new_password" name="new_password" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="repeat_new_password" class="form-label">Repeat New Password:</label>
                        <input type="password" id="repeat_new_password" name="repeat_new_password" class="form-control" required>
                    </div>
                    <input type="submit" class="btn btn-primary btn-block mb-3" value="Save Changes">
                </form>
                <a href="/my_profile" class="btn btn-secondary btn-block mb-3">Back to My Profile</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
