{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
<div class="row align-items-center">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header font-weight-bold">
                Edit Profile
            </div>

            <div class="card-body">
                <form action="/edit_profile" method="post">
                    <div class="mb-3">
                        <label for="gender" class="form-label">Gender:</label>
                        <input type="text" id="gender" name="gender" class="form-control" value="{{ user[6] }}">
                    </div>
                    <div class="mb-3">
                        <label for="age" class="form-label">Age:</label>
                        <input type="text" id="age" name="age" class="form-control" value="{{ user[7] }}">
                    </div>
                    <input type="submit" class="btn btn-primary btn-block mb-2" value="Save Changes">
                </form>
                <a href="/my_profile" class="btn btn-secondary btn-block mb-2">Back to My Profile</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
