{% extends "base.html" %}
{% block title %}Profile Page{% endblock %}
{% block content %}
<div class="row align-items-center">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header font-weight-bold">
                🌟 Welcome, {{ user[3] }}
            </div>

            <div class="card-body">
                <div class="container mb-2">
                    <a href="/my_profile" class="btn btn-secondary btn-block">My Profile</a>
                </div>
                <div class="container mb-2">
                    <a href="/view_books" class="btn btn-secondary btn-block">View Book List</a>
                </div>
                <div class="container mb-2">
                    <a href="/my_ratings" class="btn btn-secondary btn-block">My Ratings</a>
                </div>
                {% if user[5] == 1 %}  <!-- Check if user is admin -->
                <div class="container mb-2">
                    <a href="/view_users" class="btn btn-secondary btn-block">View User List</a>
                </div>
                <div class="container mb-2">
                    <a href="/add_book" class="btn btn-secondary btn-block">Add book</a>
                </div>
                {% endif %}
                <div class="container mb-2">
                    <a href="/" class="btn btn-secondary btn-block">Login/Registration Page</a>
                </div>
                <div class="container">
                    <a href="/logout" class="btn btn-primary btn-block">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
